// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #1976d2;

$secondary: #26a69a;
$accent: #9c27b0;

$dark: #1d1d1d;
$dark-page: #121212;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;

.inner-box {
  //text-align: center;
  width: 100vw;
  padding: 12px;
  padding-left: 50px;
  padding-right: 50px;
  //color: white;
}

// .windows-sm{

// }

.window-lg {
  width: 100vw;
  padding-left: 50px;
  padding-right: 50px;
}

.window-xl {
  width: 1550px;
  padding-left: 50px;
  padding-right: 50px;
}

.inner-headline {
  padding-top: 400px;
  padding-bottom: 10px;
}
.inner-headline2 {
  padding-top: 150px;
  padding-bottom: 70px;
}

.inner-headline3 {
  padding-top: 150px;
  padding-bottom: 70px;
}

.inner-subtitle {
  padding-bottom: 10px;
  // padding-right: 100px;
}
// .home-page{
//   background-color: $primary;
// }

.bg-home {
  background-color: black; /* 为/home路由指定的颜色 */
  color: white;
}
.bg-index {
  background-color: #10348e;
  color: #d8c8b8;
}
// .bg-detect {
//   background-color: #134f2c; /* 为/detect路由指定的颜色 */
//   color: #dcd3b8;
// }
.bg-detect {
  background-color: #d1c6bf; /* 为/detect路由指定的颜色 */
  color: #313735;
}
.bg-detect-r {
  background-color: #313735; /* 为/detect路由指定的颜色（反转色） */
  color: #d1c6bf;
}
.text-detect-t {
  color: #7a8e93;
}




.bg-defense {
  background-color: #464c51; /* 为/defense路由指定的颜色 */
  // color: #755037;
  color: #9d968b;
}

.bg-defense-r {
  background-color: #9d968b; /* 为/defense路由指定的颜色 */
  // color: #755037;
  color: #464c51;
}

.bg-log {
  background-color: #636d38; /* 为/log路由指定的颜色 */
  color: #e2ddd1;
}

.hoverable-div {
  cursor: default; /* 默认情况下使用默认鼠标指针 */
}

.hoverable-div:hover {
  cursor: pointer; /* 鼠标移入时变为手形指针 */
}
